.image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

@media(min-width: 768px){
    .image-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1024px){
    .image-section {
        grid-template-columns: repeat(5, 1fr);
    }
}

.featured {
    grid-column: 1/ 3;
    grid-row: 1 / 3;
    object-fit: cover;
}