<div 
    cdkDropList
    cdkDropListOrientation="mixed"
    class="
        mt-16 mb-16 mx-auto w-11/12 md:w-10/12 md:max-w-7xl lg:max-w-screen-2xl 
        grid gap-4 grid-cols-2 md:grid-cols-4 lg:grid-cols-5"
    (cdkDropListDropped)="drop($event)"
> 
    @for(image of images(); track image.id) {
        @if(image.url){  
            @if(!image.featured){
                <div cdkDrag>
                    <app-image 
                        [image]="image" 
                        (click)="openImage(image)"
                        (deleteImage)="handleDelete($event)" 
                        class="cursor-pointer hover:opacity-80 transition" 
                    />
                </div>
            } @else {
                <div cdkDrag>
                    <app-image 
                        [image]="image" 
                        (click)="openImage(image)"
                        (deleteImage)="handleDelete($event)"
                        class="
                        {{ image.featured 
                            ? 'cursor-pointer hover:opacity-80 transition lg:col-start-1 lg:col-end-3 lg:row-start-1 lg:row-end-3' 
                            : 'cursor-pointer hover:opacity-80 transition' 
                        }}"
                    />
                </div>
            }
        } @else {
            <div 
                class="empty-image flex justify-center items-center tracking-widest " 
                aria-label="Imagen no disponible"
                >Imagen no disponible
            </div>
        } 
    }
</div>

@if(displayImage()) {
    <button 
        (click)="closeImage()"
        aria-label="Cerrar imagen ampliada"
        class="fixed inset-0 bg-black/80 z-40 cursor-pointer transition"
    ></button>
    <div class="fixed inset-0 flex justify-center items-center z-50 pointer-events-none">
        <img 
            [src]="activeImage?.url" 
            [alt]="activeImage?.description"
            class="max-h-screen max-w-full lg:max-w-4xl rounded-lg object-contain pointer-events-auto"
        />
    </div>
}