/* Global Styles */
@import "tailwindcss";
@import "tailwindcss-primeui";

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}